/* navbar */
#navbar .brand {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2pc;
}

/* home page.1 */
.home-container {
    display: flex;
}

.home-container img {
    height: 400px;
}

#home {
    background-color: #F9FBE7;
    padding-top: 70px;
    padding-bottom: 30px;
}

.item-text {
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 100px;
}

.item-text h1 {
    text-align: center;
}

.item-text p {
    margin-top: 30px;
    font-size: 1.5pc;
    text-align: center;
}

.container-lang {
    display: flex;
    margin-top: 100px;
    margin-left: 500px;
}

.container-lang .nav-link {
    text-align: center;
    margin-left: 50px;
}

.under {
    text-decoration: underline;
    display: block;
}

/* about pg */
.container-about {

    background-color: #F9D949;
    padding-top: 40px;
    padding-bottom: 40px;
}

#about {
    background-color: #F9D949;
}

#about .item {
    text-align: center;
    width: 700px;
    margin-left: 400px;
}

#about p {
    font-size: 1.4pc;
}

/* experience pageg */
#experience {
    background-color: #F9FBE7;
    height: 100vh;
}

.constainer-experience h1,
p {
    text-align: center;

}

.constainer-experience h1 {
    font-size: 3pc;
    margin-top: 20px;
}

.constainer-experience p {
    font-size: 1.5pc;

}

.constainer-experience img {
    height: 400px;
    position: relative;
    left: 500px;
}

.constainer-experience .item {
    display: flex;
}

/* footer */
footer {
    height: 100px;
    background-color: #F9D949;
    text-align: center;
}

footer>h5 {
    color: #EEEEEE;
    text-align: center;
}

footer ul {
    text-align: center;
    display: flex;
    gap: 20px;
    position: relative;

}

footer a {
    text-align: center;
}